node_modules
typings
dist
coverage
npm-debug.log*
*.backup
.azure*
sshkey*
prototypes*
example*yml
.idea/
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride
*.bash_history
*.cache
*.python_history
*.bash_history
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea
*.pyc
*.python_history
dist/*
.Rbuildignore
.Rhistory
.Rproj.user
*.Rproj
*.ipynb_checkpoints
*.ipynb
terraform.tfstate*
beconf.tfvars
beconf.tfvarse
modules/*/.terraform*
modules/*/*.tfstate
modules/*/*.backup
examples/*/*.tfstate
examples/*/*.backup
examples/*/.terraform*
*.tfstate
.terraform*